<%= form_with(model: pay_per_view, local: true) do |f| %>
  <% if pay_per_view.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(pay_per_view.errors.count, "error") %> prohibited this pay_per_view from being saved:</h2>

      <ul>
      <% pay_per_view.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>

  <div class="field">
  <%= f.simple_fields_for :matches do |match| %>
    <%= render 'match_fields', f: match %>
  <% end %>
  </div>

  <div id="field">
    <strong><%= link_to_add_association 'Add a Match', f, :matches %></strong>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
