<div class="nested-fields" style="border: solid; padding: 10px; margin: 30px">


  <div class="field">
    <%= f.label :name, "Match Name" %>
    <%= f.text_field :name %>
    <%= link_to_remove_association "remove match", f %>
  </div>

  <div class="field">
    <%= f.simple_fields_for :contenders do |match| %>
      <%= render 'contender_fields', f: match %>
    <% end %>
  </div>

  <div id="field">
    
     <% Contender.descendant_types.each do |child| %>
      <strong><%= link_to_add_association "Add a #{child.to_s}", f, :contenders,
       :wrap_object => Proc.new { |contender| contender = contender.becomes!(child.constantize); contender } %>
       </strong>
    
   <% end %>
  </div>

</div>
